  /* adds the width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* adds a track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* adds a handle for the scrolltrack */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* handle colour on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
}

.logo img {
    width: 100px;
    height: auto;
    text-align: center;
    
}
/* Title */
.title {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #333;
    
}

/* Search bar */
.search-box {
    position: absolute;
    right: 20px;
    top: 150px;  
    display: flex;
    
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 40px;
}

.search-box .search-icon {
    position: absolute;
    right: 60px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* Banner */
.navBar {
    width: 100%; 
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px ;
    position: absolute;
    top: 200px; 
}

.navBar p {
    font-size: 20px;
    margin: 0;
}

.aboutHeader {
    top: 300px;

}