  /* adds the width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* adds a track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* adds a handle for the scrolltrack */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* handle colour on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 /* NEW */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
}

.logo img {
    width: 100px;
    height: auto;
    text-align: center;
    
}
/* Title */
.title {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #333;
    
}

/* Search bar */
.search-box {
    position: absolute;
    right: 20px;
    top: 150px;  
    display: flex;
    
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 40px;
}

.search-box .search-icon {
    position: absolute;
    right: 60px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* Banner */
.navBar {
    width: 100%; 
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px ;
    position: absolute;
    top: 200px; 
}

.navBar p {
    font-size: 20px;
    margin: 0;
}

.aboutHeader {
    top: 300px;

}

/* Registration  */
.register {
    width: 100%;
    max-width: 600px;
    margin: 900px auto 0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.register h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.register h3 {
    font-size: 16px;
    
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form label {
    font-size: 16px;
    color: #555;
    text-align: left;
}


.form-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terms-row {
    align-items: center;
}


.terms {
    display: flex;
    align-items: left;
    flex-direction: row-reverse;
    gap: 10px;
    margin-right: 140px;
    
}

.terms a {
    color: #007BFF;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.register-form select,
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #555;
}

