@import "theme.css";

footer {
    background-color: var(--base-colour);
    color: var(--text-colour);
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.footer-links a:hover {
    color: var(--link-colour);
}
