body {
    font-family: 'Winky Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-colour);
    color: var(--text-colour);
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--base-variant);
}

::-webkit-scrollbar-thumb {
    background: var(--alt-text-colour);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-colour);
}

/* Header */
.new-header {
    background-color: var(--primary-colour); 
    color: var(--interface-colour);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-header a {
    color: var(--interface-colour);
    text-decoration: none;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; 
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px; 
    margin: 0;
    color: var(--interface-colour);
}

/* Search Box */
.search-box {
    flex-grow: 1; 
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--base-colour);
    border-radius: 5px;
    padding: 5px;
}

.search-bar input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    flex-grow: 1; 
    border-radius: 5px 0 0 5px;
    background: var(--base-variant);
    color: var(--text-colour);
}

.search-bar input[type="text"]:focus {
    outline: none;
}

.search-icon {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--alt-text-colour);
}

/* Account & Basket */
.header-right {
    display: flex;
    align-items: center;
}

.account-dropdown {
    position: relative;
    margin-right: 20px;
}

.account-button {
    background: none;
    border: none;
    color: var(--interface-colour);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.account-button i {
    margin-right: 5px; 
}

.account-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--base-variant);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none; 
}

.account-dropdown:hover .account-dropdown-content {
    display: block; 
}

.account-dropdown-content form {
    padding: 10px;
    text-align: center;
}

.account-dropdown-content button {
    background-color: var(--link-colour); 
    border: none;
    color: var(--interface-colour);
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.basket-button-container a {
    background-color: var(--link-colour);
    color: var(--interface-colour);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.basket-button-container i {
    margin-right: 5px;
}

/* Wishlist */
.wishlist-button {
    display: flex;
    color: var(--interface-colour);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    margin-right: 20px;
}

/* Navigation Bar */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--accent-colour);
    padding: 10px;
    margin: 0;
    list-style: none;
}

.navBar a {
    color: var(--interface-colour);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.navBar button {
    padding: 0;
    border: none;
    background: none;
    color: var(--interface-colour);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.navBar a:hover {
    color: var(--alt-text-colour);
}

.navBar a.active {
    text-decoration: underline;
    background-color: var(--primary-colour);
    
}

/* Dropdown under Books */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    display: block;
    color: var(--interface-colour);
    text-decoration: none;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--base-variant);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content form {
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown-content button {
    color: var(--text-colour);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: var(--alt-text-colour);
}

.dropdown:hover .dropdown-content {
    display: block;
}
