@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Prociono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="security-question"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #183e1a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e391f;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #285029;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 100%;
    }

    .form-container {
        padding: 15px;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="security-question"] {
        padding: 12px;
        font-size: 14px;
    }
}

.navBar {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #333; 
    padding: 10px 0; 
    
}

.navBar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navBar button {
    padding: 0;
    border: none;
    background: none;
    color:white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navBar a:hover{
    color:#ccc; 
}

.navBar a.active {
    text-decoration: underline; 
}
