/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Header Section */
header {
    text-align: center;
    padding: 20px;
}
/* Logo */
.logo img {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.title h1 {
    font-size: 36px;
    color: #333;
    margin-top: 10px;
}

/* Search bar */
.search-box {
    position: absolute;
    right: 20px;
    top: 150px;  
    display: flex;
    
}

.search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 40px;
}

.search-box .search-icon {
    position: absolute;
    right: 60px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Navigation Bar */
.navBar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.navBar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navBar a.active {
    text-decoration: underline;
}

.navBar a:hover {
    color: #ccc;
}

/* Contact Section */
.contact-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-section h1 {
    text-align: center;
    font-size: 24px;
    color: #444;
}

.contact-section p {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin: 10px 0 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}
